body{
   background: rgb(238, 235, 235);
   font-family: Verdana;
   max-width: 900px;
   margin: auto;

}


#title, .subtitle, .posttitle{
 color: rgb(44, 44, 121);
 text-transform: uppercase;

}
a {
    text-decoration: line-through;
    color: rgb(114, 161, 247);
}
.posttitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 1px;
}
.post {
    background: white;
    padding: 15px;
    border: 3px  solid rgb(61, 10, 10);
    margin-bottom: 15px;
    border-radius: 8px;
}
.postcontent {
margin: 0;
margin-bottom: 1px;
text-transform: capitalize;

}
.postimage {
    margin-bottom: 15px;
    border-radius: 8px;
    
}
.fotoperfil {
    border: 3px  solid rgb(61, 10, 10);
    border-radius: 50px;
}
.links {
    list-style-type: none;
    padding-left: 1px;
}
.links li a {
    text-decoration: none;
}